BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLK_PCB" SITE "105" ;
LOCATE COMP "nRST_PCB" SITE "23" ;
LOCATE COMP "LED[0]" SITE "20" ;
LOCATE COMP "LED[1]" SITE "19" ;
LOCATE COMP "LED[2]" SITE "17" ;
LOCATE COMP "LED[3]" SITE "15" ;


#LOCATE COMP "ROAD_DET"    SITE "11" ;
#LOCATE COMP "ROAD_RED"    SITE "10" ;
#LOCATE COMP "ROAD_YELLOW" SITE "12" ;
#LOCATE COMP "ROAD_GREEN"  SITE "9" ;
#LOCATE COMP "PED_BUTT"    SITE "127" ;
#LOCATE COMP "PED_RED"     SITE "125" ;
#LOCATE COMP "PED_GREEN"   SITE "128" ;

LOCATE COMP "ROAD_DET"    SITE "141" ;
LOCATE COMP "ROAD_RED"    SITE "140" ;
LOCATE COMP "ROAD_YELLOW" SITE "142" ;
LOCATE COMP "ROAD_GREEN"  SITE "143" ;
LOCATE COMP "PED_BUTT"    SITE "12" ;
LOCATE COMP "PED_RED"     SITE "10" ;
LOCATE COMP "PED_GREEN"   SITE "11" ;

USE PRIMARY NET "CLK_PCB" ;
FREQUENCY NET "CLK_PCB" 50.000000 MHz ;